.order-detail
  .container-fluid
    each farm in summary
      .row-fluid
        h5.span9.title12.black.uppercase #{farm.name} 
          != __(" farm")
        .span3
          .span6= ("Quantity")
          .span6= ("Total")
      each product in farm.products
        .row-fluid
          
      .row-fluid
        .pull-left.title12.black.uppercase.bold= __("Farm Total")
        .farm-total.pull-right.title12.black(data-bind="html: total")
      hr.black
    
    
    
    div(style="color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 30px;line-height: 20px;margin-top: 10px;")
      div(style="box-sizing: border-box;color: rgb(51, 51, 51);display: block;float: left;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 30px;line-height: 20px;margin-left: 0px;min-height: 30px;width: 74.35897435897436%;")
        span(style="color: rgb(10, 119, 182);display: inline;font-family: 'Lucida Grande', sans-serif;font-size: 22px;font-weight: bold;height: auto;line-height: 20px;text-transform: uppercase;") #{farm.name} 
          != __(" farm")
      div(style="box-sizing: border-box;color: rgb(51, 51, 51);display: block;float: left;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 30px;line-height: 20px;margin-left: 2.564102564102564%;min-height: 30px;width: 23.076923076923077%;")
        div(style="box-sizing: border-box;color: rgb(0, 0, 0);display: block;float: left;font-family: Geneva, sans-serif;font-size: 14px;height: 30px;line-height: 20px;margin-left: 0px;min-height: 30px;text-align: right;width: 48.717948717948715%;")= ("Quantity")                
        div(style="box-sizing: border-box;color: rgb(0, 0, 0);display: block;float: left;font-family: Geneva, sans-serif;font-size: 14px;height: 30px;line-height: 20px;margin-left: 2.564102564102564%;min-height: 30px;text-align: right;width: 48.717948717948715%;")= ("Total")
    hr(style="border-bottom-color: rgb(255, 255, 255);border-bottom-style: solid;border-bottom-width: 1px;border-image-outset: 0px;border-image-repeat: stretch;border-image-slice: 100%;border-image-source: none;border-image-width: 1;border-left-color: rgb(51, 51, 51);border-left-style: none;border-left-width: 0px;border-right-color: rgb(51, 51, 51);border-right-style: none;border-right-width: 0px;border-top-color: rgb(238, 238, 238);border-top-style: solid;border-top-width: 1px;color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 0px;line-height: 20px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;margin-top: 0px;")
    each product in farm.products
      - var productPhoto = "http:"+product.photo;
      div(style="color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 40px;line-height: 20px;margin-top:10px;")
        div(style="box-sizing: border-box;color: rgb(51, 51, 51);display: block;float: left;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 40px;line-height: 20px;margin-left: 0px;min-height: 30px;width: 74.35897435897436%;")
          div(style="color: rgb(51, 51, 51);display: block;float: left;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 40px;line-height: 20px;")
            img(src="#{productPhoto}", style="border-bottom-color: rgb(51, 51, 51);border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;border-bottom-style: none;border-bottom-width: 0px;border-image-outset: 0px;border-image-repeat: stretch;border-image-slice: 100%;border-image-source: none;border-image-width: 1;border-left-color: rgb(51, 51, 51);border-left-style: none;border-left-width: 0px;border-right-color: rgb(51, 51, 51);border-right-style: none;border-right-width: 0px;border-top-color: rgb(51, 51, 51);border-top-left-radius: 6px;border-top-right-radius: 6px;border-top-style: none;border-top-width: 0px;color: rgb(51, 51, 51);display: inline;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 40px;line-height: 20px;margin-right: 5px;max-width: 100%;vertical-align: middle;width: 40px;")
          div(style="color: rgb(51, 51, 51);display: block;font-family: Geneva, sans-serif;font-size: 12px;height: 18px;line-height: 18px;") 
            span(style="font-weight:bold") #{product.description}
            |  - 
            span #{product.amount}
          div(style="color: rgb(51, 51, 51);display: block;font-family: Geneva, sans-serif;font-size: 12px;height: 18px;line-height: 18px;") #{__("Subscription:")} #{product.subscription}
        div(style="box-sizing: border-box;color: rgb(51, 51, 51);display: block;float: left;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 30px;line-height: 20px;margin-left: 2.564102564102564%;min-height: 30px;width: 23.076923076923077%;")
          div(style="box-sizing: border-box;color: rgb(0, 0, 0);display: block;float: left;font-family: Geneva, sans-serif;font-size: 14px;height: 30px;line-height: 20px;margin-left: 0px;min-height: 30px;text-align: right;width: 48.717948717948715%;") #{product.quantity}
          div(style="box-sizing: border-box;color: rgb(0, 0, 0);display: block;float: left;font-family: Geneva, sans-serif;font-size: 14px;height: 30px;line-height: 20px;margin-left: 2.564102564102564%;min-height: 30px;text-align: right;width: 48.717948717948715%;") #{order.currency} #{product.total}
    hr(style="border-bottom-color: rgb(51, 51, 51);border-bottom-style: solid;border-bottom-width: 1px;border-image-outset: 0px;border-image-repeat: stretch;border-image-slice: 100%;border-image-source: none;border-image-width: 1;border-left-color: rgb(51, 51, 51);border-left-style: none;border-left-width: 0px;border-right-color: rgb(51, 51, 51);border-right-style: none;border-right-width: 0px;border-top-color: rgb(51, 51, 51);border-top-style: solid;border-top-width: 1px;color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 1px;line-height: 20px;margin-bottom: 10px;margin-left: 0px;margin-right: 0px;margin-top: 10px;")
    div(style="color: rgb(51, 51, 51);display: block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;height: 30px;line-height: 20px;")
      div(style="box-sizing: border-box;color: rgb(0, 0, 0);display: block;float: left;font-family: Geneva, sans-serif;font-size: 14px;font-weight: bold;height: 30px;line-height: 18px;margin-left: 0px;min-height: 30px;text-align: right;text-transform: uppercase;width:100%;") #{farm.name} 
        != __(" farm total:")
        | #{order.currency} #{farm.total}