table.table.table-striped
  thead
    tr
      th= __("Type")
      th= __("Name")
      th= __("Title")
      th= __("Description")
      th= __("Actions")
  tbody(data-bind="foreach: skus")
    tr
      td(data-bind="text: type")    
      td(data-bind="text: name")
      td(data-bind="text: title")
      td(data-bind="text: description")
      td(style="width:100px")
        ul#icons
          li(title="Edit")
            a(href="#sku-form", role="button", data-toggle="modal", data-bind="click: $root.skuForm.editSKU")
              i.icon-pencil
          li(title="Delete")
            a(data-bind="click: function(data,event) { $parent.skus.destroy(data) }")
              i.icon-remove