form(action="/register", method="POST")
  fieldset    
    label.muted= __("First Name")
    input.input-block-level(type="text", name="first_name",id="first_name", required)
    label.muted= __("Last Name")
    input.input-block-level(type="text", name="last_name",id="last_name", required)
    label.muted= __("Email")
    input.input-block-level(type="text", name="email",id="email", required)
    label.muted= __("Choose password")
    input.input-block-level(type="password", name="password",id="password", required)
    label.muted= __("Repeat password")
    input.input-block-level(type="password", name="password_repeat",id="password_repeat", required)
    button.btn.btn-large.btn-success(type="submit")
      span= __("Register")
